<!DOCTYPE html>
<html>
    <head>
        <title>Crear Tarea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <h1></h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Notelify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Crear tarea
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Espacio 1</a></li>
              <li><a class="dropdown-item" href="#">Espacio 2</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Algo extra</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>

        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">/*Usuario Logueado*/</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">Flex item 1
    
         <div class="d-flex justify-content-start">
      <ul class="nav flex-column d-flex justify-content-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <div class="d-flex justify-content-between">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore accusamus iste laborum, beatae nemo tenetur optio perspiciatis expedita voluptate saepe. Consequatur similique quas molestiae neque repellendus quae ratione voluptates voluptatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti ex ad provident numquam repudiandae distinctio corrupti quo, soluta, autem voluptates sapiente? Nostrum in, natus eveniet doloribus molestiae amet praesentium delectus!
      Ex necessitatibus, recusandae, rerum aspernatur odio accusantium consequuntur explicabo doloremque perspiciatis quae optio, sint adipisci. Aliquam nam magnam esse excepturi iure obcaecati earum temporibus nesciunt eum, inventore harum ab voluptatum.
      Nulla voluptate sit id veritatis totam, quae modi expedita. Molestiae laudantium iste explicabo ducimus ad deserunt iure adipisci temporibus aperiam, illo ut. Laboriosam, rerum? Soluta sunt ullam mollitia fugit voluptatum?
      Fugit porro possimus dicta, voluptate obcaecati, aut et illum soluta consequatur suscipit, iure exercitationem id illo delectus vitae deserunt veniam non provident quibusdam eveniet labore fuga. Vitae ab soluta est!
      Eligendi modi nesciunt officia laudantium tempore nostrum natus et amet corrupti cumque cum iste, perferendis cupiditate eos id! Ea rem sequi doloribus deserunt explicabo quibusdam nisi asperiores eos id temporibus?
      Rerum commodi placeat qui sint quasi ab pariatur, a blanditiis perspiciatis adipisci eaque recusandae cumque tenetur aliquid praesentium incidunt temporibus! Asperiores facilis unde repudiandae reprehenderit vitae, quo excepturi tenetur cum.
      Alias pariatur et officia, ullam necessitatibus exercitationem, animi voluptatum esse est, consequatur facere assumenda ipsum perspiciatis aperiam quibusdam reprehenderit provident! Illum, aperiam illo veritatis eligendi alias laborum temporibus voluptate aliquid!
      Porro consequuntur totam ex ratione rem tempore dignissimos corrupti quo aliquam iure reiciendis accusantium impedit quia deserunt voluptatem, atque iusto perspiciatis consectetur! Officia blanditiis illo voluptatibus debitis tempore! Aliquid, explicabo.
      Facere, illo sint. Totam fugiat sunt illo adipisci eos ex officia ducimus saepe! Molestiae, repellendus et harum laudantium modi debitis dolorem fugiat quasi excepturi laborum beatae autem fuga reprehenderit ut.
      Dolores numquam consectetur, omnis corrupti ullam consequatur! Nesciunt consectetur itaque necessitatibus quibusdam quis nihil, odio nisi hic? Sapiente quas suscipit voluptates ex mollitia? Et, in praesentium. Perferendis deleniti modi ad? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore corporis velit laudantium at saepe veniam, tempora, nulla error natus itaque fugiat ex ad nostrum, nam asperiores culpa voluptas eaque neque.
      Magnam, velit quaerat quia odit, vel laudantium quos consectetur eius dolorum, dolore temporibus ad architecto explicabo tenetur nesciunt eaque aperiam cumque a molestiae. At in quasi quod laudantium quidem vitae.
      Non aperiam quis, fugit facere, dicta hic molestias tempore explicabo, illum quidem numquam quod fugiat ad vero eum tenetur repellendus et sint incidunt? Aliquid est quo perspiciatis voluptas quaerat. Eum?
      Fugiat cumque ipsum iste laborum hic facilis cupiditate blanditiis nisi unde quia aperiam sint tempore at vel natus odio maiores, officia quasi illo mollitia! Iure fugiat iusto ullam assumenda veniam.
      Quam voluptatibus rem fugiat architecto iste nostrum repellat accusantium totam eos! Harum ipsum modi, soluta voluptates dignissimos, suscipit fuga eum sunt, officiis beatae aliquam esse minima animi veritatis repudiandae itaque!
      Inventore beatae atque labore tenetur, minima eos neque earum laborum ad excepturi sed aperiam, nemo veritatis in accusantium nostrum illum cum delectus! Natus amet repudiandae ducimus, itaque reprehenderit blanditiis dignissimos.
      Ipsa culpa dolore, aliquid modi impedit magni nesciunt fugit soluta porro quasi? Est error voluptas totam nisi cupiditate, quidem vero pariatur! Enim, architecto distinctio! Ipsum debitis dolorum odit molestias neque.
      Incidunt possimus molestias nobis asperiores exercitationem expedita nihil nisi deserunt voluptas commodi vero, sed saepe soluta corporis laboriosam praesentium pariatur omnis eaque veniam eos provident. Corrupti, laboriosam iste. Voluptate, nesciunt.
      Unde rerum fuga perspiciatis beatae? Corporis rem ab harum ad cum sed eligendi vero sequi blanditiis nam ipsam in, soluta rerum eveniet quos quis error neque? Quo suscipit porro tempora?
      Beatae et quisquam mollitia commodi exercitationem impedit vitae rerum? Exercitationem veritatis, ratione ut voluptatem sapiente odio temporibus sint, qui repellat corporis iste facilis, labore accusantium sunt eos quae cum tempora!
      Vero quibusdam, eum id, ratione ut nesciunt porro doloribus cumque, obcaecati distinctio voluptatum? Tempora tenetur quibusdam quae enim ea quisquam exercitationem iusto eos quam, architecto consectetur nemo mollitia at maxime?
      Voluptatem, in commodi recusandae officia nostrum minus voluptatum perspiciatis est ullam quo eaque beatae doloremque sequi aliquam suscipit deserunt autem reiciendis. Unde doloribus asperiores aliquid illum explicabo alias eum sit!
      Vel blanditiis officia quis suscipit maxime eaque dolores assumenda deserunt voluptate. Blanditiis at possimus quos delectus, temporibus illum expedita harum optio quam sunt dicta. Eligendi facere sapiente alias accusantium illum.
      Distinctio odio id qui sapiente molestias facere itaque porro nobis, unde nostrum consequuntur inventore debitis maiores nihil, aspernatur incidunt provident quaerat dolorem, similique quo magni. Natus a excepturi inventore rem.
      Cupiditate neque porro non voluptatem praesentium iusto nihil nostrum, cumque necessitatibus aliquid rem sequi tempore eligendi eaque quidem doloremque dicta perspiciatis commodi nobis. Eveniet aperiam quas maiores reprehenderit fuga commodi.
      Et quia quaerat alias fugiat iste placeat sit asperiores unde tempora aspernatur fugit mollitia rem nostrum, libero animi necessitatibus eos vel doloremque perferendis aperiam totam consequatur? Recusandae minus maiores eligendi.
      Nam, repellendus. Esse consequatur dignissimos perferendis error iusto quo doloremque quasi porro accusantium deleniti deserunt, quibusdam id delectus minima mollitia impedit ullam atque, sapiente sunt. Sed nam veniam perspiciatis fugiat!
      Alias ipsum saepe quam placeat sed id nobis cum ratione voluptatum hic esse, impedit sequi assumenda! Dolorum adipisci, error, quod modi asperiores porro reiciendis tempore iusto, unde facere amet laboriosam.
      Corrupti itaque ratione debitis perspiciatis consequuntur quibusdam aspernatur sunt aliquam harum molestiae, quos magnam fugit ex dignissimos dolores temporibus culpa, voluptate necessitatibus illum tempora veniam nihil repudiandae commodi totam? Non?
      Quis eaque nulla dolores at illo molestiae, laudantium facere repudiandae minus provident. Dolorem, autem commodi, vero eveniet impedit similique est doloribus earum animi expedita reprehenderit ut illo temporibus magni vel.
      Ipsam quaerat cumque delectus a perferendis nulla, dolorum maiores ipsa eaque sint repudiandae assumenda sunt harum, ullam voluptas natus unde atque magnam, at quam iste pariatur neque? Deleniti, iusto officiis!
      Officiis minima, ipsam molestias quo et perferendis iure blanditiis ex odit. Voluptas neque maiores sint, labore dolore ea aperiam cupiditate, porro laboriosam sit tenetur praesentium eligendi nam quasi ratione ipsam?
      Facilis iste fuga modi quod ullam rem est quam. Dolorum, numquam sapiente nisi quos animi repudiandae in tempore earum consequuntur quod consectetur fugit reprehenderit, quibusdam aspernatur necessitatibus! Nesciunt, in temporibus.
      Adipisci labore porro ipsam in qui quam eos distinctio incidunt eius cupiditate magni ducimus praesentium, accusamus itaque ut modi, debitis corrupti laboriosam a magnam! Porro laudantium omnis consequatur beatae enim.
      Asperiores cum similique cumque recusandae doloribus tenetur cupiditate quia veritatis ad unde blanditiis maxime est, quod sit quam nostrum delectus, ab adipisci. Eligendi sint magnam placeat ratione exercitationem, tenetur fugiat.
      Iste delectus a, eius provident dignissimos ipsum placeat quidem debitis pariatur facilis dolorum sed corporis voluptatibus tempora quos quo facere dolore odit fugit mollitia alias. Deleniti aliquid voluptatem magni tempora.
      Aliquam, tempore sunt voluptatibus ducimus at vel doloribus ratione quibusdam voluptatum laudantium, odit optio dolorem totam. Veritatis, odit sint? Architecto ab exercitationem facilis suscipit non id libero excepturi minus similique.
      Sed, iure necessitatibus atque aliquam velit non sint nobis debitis pariatur natus nihil cumque modi perspiciatis quibusdam dolore molestias unde dolorem voluptatum cupiditate nisi obcaecati vitae eum porro? Temporibus, laudantium!
      Perspiciatis harum porro aut libero, tenetur aliquam eum dolores itaque, eligendi laborum saepe labore officia! Cum recusandae minima amet perspiciatis, quidem modi quo magnam vel laborum ab quae animi nihil.
      Harum laudantium aspernatur, veniam earum eligendi quo soluta. Voluptas vitae est, quidem earum, delectus ipsum molestias harum porro, doloremque quod rem corporis temporibus qui quam rerum enim! Atque, recusandae deleniti?
      Suscipit, illum natus vero velit maxime asperiores inventore, accusantium sunt est autem blanditiis id! Doloribus sit nobis excepturi reiciendis delectus, totam, similique, ipsum incidunt illo officiis amet cum impedit facere.
      Debitis natus voluptatum hic qui modi odio praesentium eveniet! Architecto totam, at maxime nam molestiae et, culpa enim aspernatur id aliquam animi quod natus similique sunt minima in blanditiis eaque.
      Explicabo nulla minus consequuntur. Rem aperiam ex quo libero ullam odio perspiciatis sit amet, repudiandae id fugiat? Dolores modi adipisci, exercitationem, similique nam nihil rem recusandae nulla officiis blanditiis optio!
      Modi voluptate nihil quia qui mollitia illo repellat sequi, natus deserunt quibusdam numquam quisquam quae fugiat adipisci excepturi quis itaque dolore. Nemo quis nostrum ea a dolore eveniet voluptatibus quod?
      Iste fuga ad adipisci corrupti vitae possimus nesciunt assumenda ratione voluptatibus, similique saepe voluptatum eaque sunt debitis? Iure tenetur quisquam vitae cum id sed, corrupti maxime in voluptatibus expedita magni.
      Ratione nostrum ea voluptas praesentium, eum, dolor, provident ipsa corporis sed distinctio minima nobis veniam molestiae labore fugit earum esse qui id fuga quidem doloribus. Recusandae harum veritatis nulla ut?
      Libero repellat nobis saepe eos, eum, corporis ipsam exercitationem distinctio iure fugiat repudiandae itaque suscipit fugit! Voluptatum facilis repellendus, cum ea quod dolore fugiat molestias, omnis veritatis in iste eius!
      Aperiam eaque assumenda possimus voluptas, fugiat rem nihil quam quis consequatur voluptatibus magni rerum natus blanditiis, in obcaecati cumque iure ea vel temporibus minus nobis aliquam soluta voluptate at? Repellendus!
      Rerum sint similique, sit facere quo explicabo reiciendis! Ut error sed fuga consequatur architecto cum tempore ullam ex nesciunt officia possimus nulla quod ipsum soluta perferendis, accusamus, nobis, ad illo?
      Minima quos soluta sit perspiciatis excepturi cumque delectus velit debitis dolores? Tempora vitae beatae optio? Ratione exercitationem est dolore doloribus sint, consectetur dolor nulla consequatur corporis, sunt iusto ipsa officiis.
      Error quas eos ad necessitatibus ex voluptas. Sapiente dolores blanditiis officiis fugit voluptatum qui magni ratione reiciendis, facere fugiat est nostrum repudiandae labore maiores? Animi odio reprehenderit mollitia enim at.
      Est beatae tempora sapiente deleniti omnis id saepe numquam nisi, commodi corrupti excepturi dignissimos, natus rem molestias quia dolores tenetur ipsa nam illo? Nisi autem fugiat tempore deleniti, dolorum eligendi!
      Architecto fugiat exercitationem est placeat error nam obcaecati et eligendi quaerat, sunt dolores repellat veniam velit id esse delectus dolorem quibusdam adipisci dolore veritatis voluptas, eum perferendis rerum. Eveniet, consequuntur?
      Quam, magni enim temporibus nesciunt suscipit dolorum nemo? Quisquam accusamus aliquid dicta esse tempore soluta minus inventore impedit molestias id! Ex ad consectetur recusandae ea eum temporibus cupiditate nam corporis?
      Saepe accusamus quae libero iusto quo fuga modi sit recusandae quibusdam aspernatur? Impedit rerum illum vel nostrum alias iste beatae aut repudiandae consequatur expedita voluptate commodi, vero consequuntur distinctio architecto.
      Velit repellendus deleniti necessitatibus eius repudiandae mollitia fuga itaque, laudantium, neque nulla suscipit quo vel quisquam reprehenderit facere commodi vero, quae natus possimus! Amet nostrum modi sapiente sunt non animi.
      Iure ipsam iste itaque reprehenderit porro omnis blanditiis quod nobis voluptatibus quasi vero delectus beatae praesentium distinctio asperiores ipsum provident consectetur deserunt esse veniam hic repellat, enim nemo odit. Sit!
      Vero esse minima, fuga eveniet porro animi praesentium, quam voluptates doloremque ipsam libero dolorum necessitatibus accusantium laboriosam quia quas ipsum est maiores veritatis harum repellat fugit eum quis? Quo, quidem?
      Repellat, possimus saepe. Non dolore tempore aut, natus rerum et eum officia pariatur amet aperiam labore, ipsa inventore atque, aliquam repellat enim autem perspiciatis optio itaque vero ullam saepe voluptatibus!
      Eos unde animi dolorem voluptates consequuntur quia soluta quidem tempora, vitae omnis architecto atque laudantium debitis. Vel temporibus quas tempora sequi inventore quibusdam, soluta porro libero debitis unde distinctio dolorum!</div>
        </div>
        

  </div>
  </div>
    </body>
</html>
