:root{
--primary: #111b54;
--light: #ffffff;
--grey:#efefef;
}



body{
    background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
}

#notel{
    position:absolute;
    top:5px;
    left:1px;
    margin-left:55px;
    margin-top:4px;
    }

.bg-primary {
    background-color: var(--primary) !important;
    }


a:hover{
    text-decoration: none;
}

.btn{
    border:0;
}




#sidebar-container{
    position:absolute;

}


#sidebar-container .menu{
width: 18rem;
}



.btn-search{
    top: 2px;
    right: 0;
    
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.btn-primary{
    background-color:blueviolet !important;
    position:absolute;
    top: 3px;
    margin: 15px;
    
}


.btn-dos{
    background-color:blueviolet !important;
    position:absolute;
    top:1px;
    right:1px;
    margin-top:125px;
     
}

.btn-tres{
    background-color:blueviolet !important;
    
}
    

#carouselExampleSlidesOnly{
    height: 400px;
    width: 900px;
    
}

.avatar{
    max-width: 30px;
}

.bbt{
    background-color: #0d0d13;
}

#staticBackdrop{

position:absolute;
bottom:55px;


}

#tablas{
    background-color: rgba(138, 43, 226,53%);
    margin-bottom:100px;

}
 .tra{
     background-color:rgba(35, 132, 170,35%);
 }


 .td{
     background-color:rgba(249, 249, 250, 0.53);
 }

 